<h1>My Services</h1>
<br>
<table class="table table-bordered tabled-striped table-condensed">
	<thead>
		<tr>
			<th>Title</th>
			<th>Picture</th>
			<th>Description</th>
			<th>Price</th>
			<th>Delivery <br>Time</th>
			<th>Revisions</th>
			<th>Requirements</th>
			<th colspan="2" class="text-center">ACTIONS</th>

		</tr>
	</thead>
	<tbody>
		<% @services.each do |service| %>
			<tr>
				<td>
					<%= link_to service_path(service) do %>
						<%= service.title %>
					<% end %>
					
				</td>
				<td>
					<% if service.image? %>
						<%= image_tag service.image.url(:medium) %>					
					<% else %>
						No Image
					<% end %>

				</td>
				<td><%= service.description %></td>
				<td><%= service.price %></td>
				<td><%= service.delivery_time %></td>
				<td><%= service.revisions %></td>
				<td><%= service.requirements %></td>
				<td>
					<%= link_to "Edit", edit_service_path(service), class: "btn btn-xs btn-info" %>
				</td>
				<td>
					<%= link_to "Delete", service_path(service), method: :delete, data: { confirm: "Sure to Delete?" }, class: "btn btn-xs btn-danger" %>
				</td>

			</tr>
		<% end %>
	</tbody>
</table>

<hr>
<%= link_to "New Service", new_service_path, class: "btn btn-info"  %>