<%= render 'orders/form' %>

<% if @service.image? %>
	<%= image_tag @service.image %>
<% end %>


<h1>Service Title : <%= @service.title %></h1>
<br>
Description : <%= @service.description %>
<br>
Price : <%= @service.price %>
<br>
Delivery Time : <%= @service.delivery_time %>
<br>
<br>

<%= link_to "Back", services_path, class: "btn btn-success" %>